li a {
	    color: green;
    }

body {
        background: white url("images/pexels-photo-255379.jpeg") no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 1500px 800px;
}	
